<div class="reading-view">
  <div *ngIf="textView">
    <h1>{{text.title}}</h1>
    <div class="reading-content" [innerText]="text.content"></div>
  </div>
  <div *ngIf="!textView" [innerHTML]="html | safeHtml"></div>
</div>
<div class="selection-view">
  <div class="header">
    <div class="fill"></div>
    <a routerLink="/writings/compose">Compose</a>
  </div>
  <div class="list">
    <div *ngFor="let writing of writings" class="item" (click)="display(writing)">
      <div [class]="'display ' + writing.type"></div>
      <div class="title">{{writing.title}}</div>
      <div class="author">By {{writing.author}}</div>
      <div class="date">{{writing.date | date:'mediumDate'}}</div>
    </div>
  </div>
</div>