<div class="header">
  <button class="icon fa fa-bars fa-lg" (click)="menuShown = true"></button>
  <div class="main-title">The Browns (c. 2015)</div>
</div>
<div class="mask" [class.active]="menuShown" (click)="menuShown = false"></div>
<div class="nav-menu" [class.shown]="menuShown">
  <div class="header">
    <div class="title">
      {{user.name}}
    </div>
    <div class="fill"></div>
    <img class="profile-pic" [src]="user.profile_image" />
  </div>
  <nav class="menu-button-group">
    <a *ngFor="let route of routes" [class]="'menu-button fa fa-' + route.icon" [routerLink]="route.route" routerLinkActive="active" (click)="menuShown = false">
      {{route.title}}
    </a>
  </nav>
  <div class="fill"></div>
  <!-- <div class="greeting">Hello <span class="name">{{user.name}}</span></div> -->
  <!-- <img class="profile-pic" [src]="user.profile_image" /> -->
  <div class="menu-button-group">
    <button class="menu-button fa fa-sign-out" (click)="logout()">
      Sign Out
    </button>
  </div>
</div>
<!-- <div class="header">
  <div class="title">The Browns (c. 2015)</div>
  <div class="fill"></div>
  <div class="greeting">Hello <span class="name">{{user.name}}</span></div>
  <img class="profile-pic" [src]="user.profile_image" />
  <button class="fa fa-sign-out" (click)="logout()"></button>
</div> -->
<!-- <nav>
    <a routerLink="/family" routerLinkActive="active">Family</a>
    <a routerLink="/history" routerLinkActive="active">History</a>
    <a routerLink="/writings" routerLinkActive="active">Writings</a>
    <a routerLink="/family-tree" routerLinkActive="active">Family Tree</a>
</nav> -->
<router-outlet></router-outlet>
