// Color palette

$lightest-red: #F28585;
$light-red: #C84C4C;
$red: #A82B2B;
$dark-red: #830E0E;
$darkest-red: #580000;
$lightest-blue: #509191;
$light-blue: #2E7878;
$blue: #1A6565;
$dark-blue: #084F4F;
$darkest-blue: #003535;
$lightest-lime: #C0E27C;
$light-lime: #94BB47;
$lime: #769D28;
$dark-lime: #567A0D;
$darkest-lime: #375200;
$lightest-green: #6AC26A;
$light-green: #3DA03D;
$green: #228622;
$dark-green: #0B690B;
$darkest-green: #004600;
$lightest-gold: #F2B685;
$light-gold: #C8844C;
$gold: #A8642B;
$dark-gold: #83430E;
$darkest-gold: #582800;

// Greyscale

$white: #FFF;
$off-white: whitesmoke;
$gray: darken($off-white, 5%);
$off-dark: #212121;
$dark: #0e0e0e;
$black: #000;

$main: $red;
$main-lighter: mix(white, $main, 10%);
$main-light: mix(white, $main, 30%);

// Themes

$border: $light-gold;

$selectable-background: $light-gold;
$selectable-color: $selectable-background;

$selected-background: $light-blue;
$selected-color: $selected-background;