button {
    text-align: center;
    text-decoration: none;
    border: none;
    color: inherit;
    &.icon {
        background-color: transparent;
        color: $main;
    }
}

button:hover {
    cursor: pointer;
    color: $lightest-gold;
}

button:focus {
    outline: none;
    color: $lightest-blue;
}

button:disabled {
    opacity: 0.5;
    color: inherit;
}

.header {
    button {

        &.icon {
            color: $white;
        }
    }
}