:host {
  display: block;
  border-radius: 2px;
  border: 1px solid black;
  box-sizing: border-box;
}

.dropdown-button {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  /* width: 195px; */
  width: 100%;
  flex: 1;
  /* height: 16px; */
  /* padding: 5px; */
  background-color: white;
  cursor: pointer;
  border: none;
  position: relative;
  padding: none;
}

.fa {
  width: 20px;
  border-left: 1px solid black;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  /* background-color: black; */
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

.search-box {
  width: 200px;
  height: 20px;
}